<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
    <!-- <classes>
      <class name="TestCases.AppSkip"/>
      <class name="TestCases.BeforeAfter"/>
      <class name="TestCases.TaskData"/>
      <class name="TestCases.BeforeAfterMethod"/>
      <class name="TestCases.DependsOn"/>
      <class name="TestCases.Assortion"/>
      <class name="TestCases.BeforeAfterSuit"/>
      <class name="TestCases.Priorty"/>
      <class name="TestCases.DataPrvider"/>
      <class name="TestCases.App"/>
      <class name="TestCases.Task"/>
    </classes> -->
    <packages>
    <package name="TestCase2"/>
   <!--  <package name="TestCases2"/> -->
    </packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->
